*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: url("../img/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right;
}
.container{
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header_menu{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 39px;
}
.header_intro{
    background-image: url("../img/intro.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 132px;
    padding-top: 100px;
}
.header_intro-content{
    max-width: 570px;
}
.header_intro-title{
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 28px;
    color: #727272;
}
.header_intro-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 49px;
    color: #989898;
}
.header_intro-undertext{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    color: #A0A0A0;
}
.header_intro-btn{
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 17px 0;
    min-width: 254px;
    background: linear-gradient(164.29deg, #F3C516 23.49%, #FF8C10 78.94%);
    border-radius: 60px;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
}
.header_menu{
    position: relative;
}
.header_nav{
    display: none;
    position: absolute;
    background: linear-gradient(164.29deg, #F3C516 23.49%, #FF8C10 78.94%);
    right: 0;
    top: 25%;
    text-align: center;
    width: 200px;
    padding-top: 40px;
}
.header_nav li{
    border-bottom: 2px solid transparent;
    transition: all .2s linear;
}
.header_nav li:hover{
    border-bottom-color: #fff;
}
.header_nav a{
    padding: 10px 15px;
    display: block;
    color: #fff;
}
.header_burger.active .header_burger-item{
    background: 0;
}
.header_burger{
    width: 40px;
    padding: 12.5px 0;
    position: absolute;
    top: 45px;
    right: 10px;
}
.header_burger-item{
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    transition: background .2s linear;
}
.header_burger-item:before,
.header_burger-item:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #fff;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}
.header_burger-item:before{
    top: -10px;
}
.header_burger-item:after{
    bottom: -10px;
}
.header_burger.active .header_burger-item:before{
    transform-origin: left top;
    transform: rotate(45deg) translateY(-5px) translateX(-2px);
}
.header_burger.active .header_burger-item:after{
    transform-origin: left bottom;
    transform: rotate(-45deg) translateY(2px);
}
.header_nav.active{
    display: block;
}
.header_toggle{
    cursor: pointer;
    margin-right: 11px;
    width: 44px;
    height: 33px;
    margin-top: 12px;
    z-index: 100;
}
.header_input{
    padding: 14px 15px;
    outline: none;
    min-width: 254px;
    border-radius: 60px;
    border: 1px solid #727272;
    color: #727272;
}
::-webkit-input-placeholder { padding-left: 25px; }
::-moz-placeholder          { padding-left: 25px; } /* Firefox 19+ */
:-moz-placeholder           { padding-left: 25px; } /* Firefox 18- */
:-ms-input-placeholder      { padding-left: 25px; }

.contacts{
    padding: 373px 0 200px;
}
form{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
form > div{
    position: relative;
    padding-top: 26px;
}
label{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.btn{
    outline: none;
}
textarea{
    outline: none;
    padding: 5px;
    width: 100%;
    min-height: 108px;
    resize: none;
    font-size: 16px;
    color: #727272;
    border-radius: 2px;
}
.form_text{
    margin: 30px 0;
}
.contact_text{
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}
.contacts input{
    font-size: 16px;
    color: #727272;
    outline: none;
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #FFFFFF;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
}
.btn-contacts{
    background: linear-gradient(164.29deg, #E0E0E0 23.49%, #FFFFFF 78.94%);
    color: #FAAF12;
}
.header_intro-undertext a{
    text-decoration: underline;
    color: #A0A0A0;
}
@media( max-width: 1040px ){
    .header_intro{
        background: none;
    }
    .header_intro-content{
        margin: 0 auto;
    }
}
@media( max-width: 780px ){
    body {
        background-size: 113% 100%;
    }
    .header_nav{
        top: 17%;
        left: -15px;
        right: -15px;
        width: auto;
        padding-top: 55px;
        padding-bottom: 10px;
    }
    .header_logo{
        z-index: 20;
    }
}
@media( max-width: 570px ){
    .header_intro-btn{
        display: block;
        text-align: center;
    }
    .header_intro-inner:last-child{
        margin-top: 25px;
    }
}
@media( max-width: 500px ){
    body {
        background-size: 140% 100%;
    }
    .header_intro-title,
    .contact_text{
        font-size: 36px;
    }
}
@media( max-width: 450px ){
    .header_intro-title,
    .contact_text{
        font-size: 30px;
    }
}
@media( max-width: 380px ){
    .header_intro-title,
    .contact_text{
        font-size: 26px;
    }
    .header_intro-text,
    .header_intro-undertext{
        font-size: 14px;
    }
}